{% load pages_tags mezzanine_tags i18n future staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
<meta name="author" content="David Salvador Sebastian Mendez">
<title>
    Consultorios Oftalmológicos
</title>
<!-- Bootstrap core CSS -->
<!-- ED -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
</script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>

<!---->
<link rel='stylesheet' type='text/css' href='{% static 'schedule/js/bootstrap.min.css' %}' />
<link rel='stylesheet' type='text/css' href='{% static 'schedule/fullcalendar/fullcalendar.css' %}' />
<link rel='stylesheet' type='text/css' href='{% static 'schedule/fullcalendar/fullcalendar.print.css' %}' media='print' />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
<link rel="icon" href="{% static 'schedule/favicon.ico' %}">

  </head>

{% if perms.blog.add_blogpost and perms.blog.change_blogpost %}
<script>
// Format newlines for HTML in the quick blog form, since the content
// is HTML but the form field is plain text.
jQuery(function($) {
    $('#quick-blog-form').submit(function() {
        var field = $('#quick-blog-form #id_content');
        var value = field.attr('value').split('\n\n').join('</p><p>');
        value = '<p>' + value.split('\n').join('<br>') + '</p>';
        field.attr('value', value);
        return true;
    });
    
});
</script>
<div class="module collapsed-closed">
    <h2>Datos Personales</h2>
    <form method="post" id="quick-blog-form" action="{% url "admin:blog_blogpost_add" %}">
        {% csrf_token %}
        <table id="quick-blog">
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td style="width:100%;text-align:right;">
                    <input type="submit" class="default"
                        value="{% trans "Guardar" %}" />
                </td>
            </tr>
        </table>
    </form>
</div>
{% endif %}
